body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}
.social-icons {
    display: flex;
    gap: 20px;
}
.social-icons a {
    text-decoration: none;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}
.social-icons a:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}
.social-icons img {
    width: 40px;
    height: 40px;
}

.container {
    text-align: center;
}

.name {
    font-size: 3rem;
    margin-bottom: 20px;
    color: #ffffff;
    font-weight: bold;
}

/* Genel ayarlar */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #2c3e50, #3498db); /* Gradyan arka plan */
    background-size: cover;
    color: #f1f1f1;
    text-align: center;
}
