* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;  /* Sayfanın tamamını kapsasın */
    margin: 0;     /* Tarayıcı margin'ini sıfırla */
    display: flex;
    flex-direction: column; /* İçeriği dikey sıralamak için */
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    /* Hafif gri arka plan */
}

header {
    background-color: #1e212d;
    /* Koyu lacivert */
    color: #f1f1f1;
    /* Beyaz metin */
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
    /*furkan koz yazan yer*/
    flex-direction: column;
    text-align: center;
}

header a {
    text-decoration: none;
    color: #f1f1f1;
}

nav {
    background-color: #2c2f3e;
    /* Daha açık lacivert */
    display: flex;
    justify-content: center;
    padding: 20px;
}

nav a {
    color: #f1f1f1;
    text-decoration: none;
    margin: 0 15px;
    font-size: 1.1rem;
    position: relative;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

nav a:hover {
    background-color: #ff5722;
    /* Turuncu hover */
    color: #fff;
}

footer {
    width: 100%;
    background-color: #1e212d;
    /* Koyu lacivert */
    color: #f1f1f1;
    text-align: center;
    margin-top: auto;
    text-align: center;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-links a {
    margin-top: 10px;
    font-size: 40px;
    color: white;
    transition: transform 0.3s ease;
}


/* Medya sorgusu: Telefon ve tablet görünümü */
@media (max-width: 768px) {
    header h1 {
        font-size: 2rem;
        /* Başlık fontunu küçült */
    }

    nav {
        flex-direction: column;
        align-items: center;
    }

    nav a {
        margin: 10px 0;
        /* Linklerin arasını arttır */
        font-size: 1.2rem;
        /* Daha büyük yazı */
    }

    footer {
        padding: 10px 0;
    }
}
